#bloc_page
{color:#FF4500;
font-family:Arial;
width: 900px;
margin: auto;
}

header
{

text-align: center;
margin-bottom: 5px;
}

footer {
margin-top: 5px;
}


header, footer, nav, section{
background-color: #FFDEAD;
border:2px solid #FF7F50;
-moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

h3{
color:#FF4500;}

nav{
}

nav ul
{
list-style-type: none;
}

#menu {
display: inline-block;
width:200px;
height: 600px;
vertical-align: top;
}
#menu input{
font-weight:bold;
background-color:#FFE4B5;
padding:3px;
border:1px solid #FF7F50;
border-radius:5px;}

select{
font-weight:bold;
background-color:#FFE4B5;
padding:3px;
border:1px solid #FF7F50;
border-radius:5px;}

#contenu {
display: inline-block;
width:687px;
height: 600px;
vertical-align: top;
}

#contenu input{
font-weight:bold;
background-color:#FFE4B5;
padding:3px;
border:1px solid #FF7F50;
border-radius:5px;
}

input{
font-weight:bold;
background-color:#FFE4B5;
padding:3px;
border:1px solid #FF7F50;
border-radius:5px;
}

#contenu fieldset{
width:400px;
margin:auto;
border:2px solid #FF7F50;
-moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

a {
text-decoration: none;
color: black;
}

#table_appli td{-moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
border: 1px solid #FF7F50 ; 
border-spacing: 0px;
padding: 50px;
font-family:Arial;
font-size:20px;
min-width:140px;
}

#doss_courant{
color: red;
}

#nom_util{
text-align: center;
}

.erreur{
color: black;
}