#bloc_page
{
font-family:Arial;
width: 900px;
margin: auto;
}

header
{
/*background-color: gray;*/
text-align: center;
margin-bottom: 5px;
}

footer {
margin-top: 5px;
}


header, footer, nav, section{
background-color: #e0e0e0;
border:2px solid #1e93e1;
-moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

nav{
}

nav ul
{
list-style-type: none;
}

#menu {
display: inline-block;
width:200px;
height: 600px;
vertical-align: top;
}

#contenu {
display: inline-block;
width:687px;
height: 600px;
vertical-align: top;
}

a {
text-decoration: none;
color: black;
}

#table_appli td{
border: 1px solid gray; 
border-spacing: 0px;
padding: 10px;
}